<<<<<<< HEAD
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
=======
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
>>>>>>> 6bc630fab0a0ca1eb44280ff6cbc925e0dd1999e
